<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="#{home.title}"></title>
</head>

<th:block layout:fragment="main-content">

        <div class="row mt-5 justify-content-center">
            <h1>
            <span sec:authorize="isAuthenticated()">
                Logged user: <span sec:authentication="name"></span>
            </span>
            </h1>
        </div>
        <div class="row justify-content-center">
            <h2>
            <span sec:authorize="isAuthenticated()">
                Roles: <span sec:authentication="principal.authorities"></span>
            </span>
            </h2>
        </div>

</th:block>
</html>