<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title th:text="#{home.title} + ' | ' + #{importCodes.title}"></title>
</head>

<th:block layout:fragment="main-content">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Import access codes</h2>
                    <form method="post" th:action="@{/licenser/frontend/admin/import-codes}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="file" type="file" id="file" name="file" data-show-preview="false" data-show-upload="false"
                                   data-show-caption="true" data-msg-placeholder="Select {files} for upload..."
                                   accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorFile}">
                            <strong th:text="${errorFile}">error</strong>
                        </div>
                        <div class="form-group">
                            <label for="tenant" class="bmd-label-floating">Select tenant:</label>
                            <select class="form-control" id="tenant" name="tenant">
                                <option value="0"> (none) </option>
                                <option th:each="tenant : ${tenants}"
                                        th:value="${tenant.getId()}"
                                        th:text="${tenant.getName()}"></option>
                            </select>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${errorTenant}">
                            <strong th:text="${errorTenant}">error</strong>
                        </div>
                        <div class="float-right form-group">
                            <button class="btn" type="reset">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>

</html>