<th:block xmlns:th="http://www.thymeleaf.org"
          th:fragment="init">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <!--<meta th:name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <!--font-awesome-->
    <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-material-design/4.1.1/css/bootstrap-material-design.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-fileinput/4.4.8/css/fileinput.min.css}" media="all"/>
</th:block>