<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:text="#{home.title}">Title</title>
        <th:block th:include="layout/head::init" />

    </head>
    <body>

        <!--Navbar-->
        <th:block th:include="layout/navbar::init" />
        <!--Main Content-->
        <div class="container">
            <th:block layout:fragment="main-content" />
        </div>

        <!-- scripts -->
        <th:block th:include="layout/scripts::init" />
    </body>
</html>