<th:block xmlns:th="http://www.thymeleaf.org"
          th:fragment="init">

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/webjars/bootstrap-table/1.9.1/bootstrap-table.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/webjars/bootstrap-table/1.9.1/locale/bootstrap-table-en-US.js}"></script>-->
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.1/dist/umd/popper.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-material-design/4.1.1/js/bootstrap-material-design.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-fileinput/4.4.8/js/fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-fileinput/4.4.8/themes/fa/theme.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <script>
        $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
    </script>

</th:block>