<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.title} + ' | ' + '400 Bad request'"></title>
    <th:block th:include="layout/head :: init"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Bad request</h1>
            <h2 th:if="${error}" th:text="${error}">Please contact your administrator!</h2>
            <a th:href="@{/licenser/frontend/}" class="btn btn-primary btn-raised">Go back home</a>
        </div>
    </div>
</div>

<th:block th:include="layout/scripts :: init"/>

</body>

</html>




